* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #2cda4d, #07a33f);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    width: 380px;
}

.signup-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background: #07a33f;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ;
}

button:hover {
    background: #058c34;
}

.login-text {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.login-text a {
    color: #07a33f;
    text-decoration: none;
}

.login-text a:hover {
    text-decoration: underline;
}

/* Mobile Responsive */
@media (max-width: 480px) {
    .signup-container {
        width: 90%;
    }
}
