*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
   
}

body{
     background-color:#c7c3da;
}

.header{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    /* background-color:#c74141;background: linear-gradient(180deg, #221e33 0%, #f88550 50%); */
    
}

.title{
    position: relative;
    top: 35%;
    font-size:2rem;
    text-transform: uppercase;
    text-shadow: 3px 1px  1px rgb(255, 252, 252);
    
}
.span1{
    color: rgb(91, 255, 26);
    
}


.ip1{
    position: relative;
    left: 30px;    
    top: 30px;
    width: 500px;
    height: 50px;
    padding: 10px 10px 10px 10px ;
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid; 
    border: none;
    border-radius: 1rem;
    transition: 1s;
    
    &:hover{
        box-shadow:1px 1px 5px  3px white;
    }
    
}


.icon1{
    position: relative;
    top: 37%;
    right: 10%;
    font-size: 1.5rem;
}

ul{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

ul a{
    text-decoration: none;
    font-weight: 800;
    text-transform: capitalize;
    transition: 1s;
    font-size: 1.2rem;
    color:#030303;
    
    
    &:hover{
        color: rgb(255, 166, 87);
        
    }
}

.menubar{
    display: none;
}


.content-1{
    width: 100%;
        height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: url(/pexels-giorgio-de-angelis-482403-1413412.jpg);
    background-position: center;
    background-size: cover; */
    background: url(./product-banner.jpg);
    background-size: cover;

  
}

.content-1 .black{
    width: 100px;
    height: 65px;
    margin: -35% 10px 10px 1258px;
    background-color: #030303;
}

.img1{
    margin-top: 6%;
    width: 1000px;
    height: 800px ;
    border: 1px solid;
    overflow: hidden;
    object-fit: cover;
    border-radius: 1rem;
    
}

.button1{
    position: relative;
bottom: -45%;
padding: 10px 29px;
font-size: 1rem;
font-weight: 800;
border-radius: 1rem;
background-color:  #FFD700;
}
/* 
------------------------------------------------------------------------------------------------------------------------------------------- */

                                                      /* PAGE-2 */
.page2{
    height: 100vh;

}

.product{
    width: 100%;
    height: 100vh;
     display: grid;
     grid-template-columns: repeat(3 ,1fr);
     padding:  0% 20% ;
     margin-top: 10px;
     gap: 20px;

}
.product1{
    width: 250px;
    height: 300px;
    padding-left: 2%;
    border-radius: 1rem;
    transition: 1s;
    
    
    
    &:hover{
        box-shadow: 1px 1px 10px 5px ;
        transform: translateY(-10px);
    }

}
.product1 p{
    position: relative;
    top: 4%;
    right: 1%;
    font-size: 13px;
    font-weight: 800;

    width: 300px;
}

.product1 h2{
    position: relative;
    top: 7%;
    left: 25%;
}

.product1 button{
     position: relative;
    top: 9%;
    left: 15%;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color:  #FFD700;

}

.product1 img{
    border-radius: 1rem;
    padding-left: 10%;
}


.product2{
    width: 250px;
    height: 300px;
        padding-left: 2%;
    border-radius: 1rem;
    transition: 1s;
    
    
    
    &:hover{
        box-shadow: 1px 1px 10px 5px ;
         transform: translateY(-10px);
    }
}

.product2 img{
    padding-left: 15%;
    padding-top: 2%;
}



.product2 p{
    position: relative;
    top: 4%;
    right: -5%;
    font-size: 13px;
    font-weight: 800;

    width: 300px;
}

.product2 h2{
    position: relative;
    top: 7%;
    left: 25%;
}

.product2 button{
     position: relative;
    top: 7%;
    left: 15%;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color:  #FFD700;

}



.product3{
    width: 250px;
    height: 300px;
        padding-left: 2%;
    border-radius: 1rem;
    transition: 1s;
    
    
    
    &:hover{
        box-shadow: 1px 1px 10px 5px ;
         transform: translateY(-10px);
    }

}

.product3 p{
    position: relative;
    top: 4%;
    right: -6%;
    font-size: 13px;
    font-weight: 800;

    width: 300px;
}

.product3 h2{
    position: relative;
    top: 7%;
    left: 25%;
}

.product3 button{
     position: relative;
    top: 9%;
    left: 15%;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color:  #FFD700;

}


.product3 img{
    padding-left: 15%;

}



.product4{
    width: 250px;
    height: 300px;
        padding-left: 2%;
    border-radius: 1rem;
    transition: 1s;
    
    
    
    &:hover{
        box-shadow: 1px 1px 10px 5px ;
         transform: translateY(-10px);
    }

}



.product4 p{
    position: relative;
    top: 4%;
    right: 1%;
    font-size: 13px;
    font-weight: 800;

    width: 300px;
}

.product4 h2{
    position: relative;
    top: 7%;
    left: 25%;
}

.product4 button{
     position: relative;
    top: 9%;
    left: 15%;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color:  #FFD700;

}

.product4 img{
    border-radius: 1rem;
    padding-left: 10%;
}

.product5{
    width: 250px;
    height: 300px;
        padding-left: 2%;
    border-radius: 1rem;
    transition: 1s;
    
    
    
    &:hover{
        box-shadow: 1px 1px 10px 5px ;
         transform: translateY(-10px);
    }

}



.product5 p{
    position: relative;
    top: 4%;
    right: -5%;
    font-size: 13px;
    font-weight: 800;

    width: 300px;
}

.product5 h2{
    position: relative;
    top: 7%;
    left: 25%;
}

.product5 button{
     position: relative;
    top: 9%;
    left: 15%;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: #FFD700;
}

.product5 img{
    border-radius: 1rem;
}

.product6{
    width: 250px;
    height: 300px;
        padding-left: 2%;
    border-radius: 1rem;
    transition: 1s;
    
    &:hover{
        box-shadow: 1px 1px 10px 5px ;
         transform: translateY(-10px);
    }

}



.product6 p{
    position: relative;
    top: 4%;
    right: 1%;
    font-size: 13px;
    font-weight: 800;
    width: 300px;
}

.product6 h2{
    position: relative;
    top: 7%;
    left: 25%;
}

.product6 button{
     position: relative;
    top: 10%;
    left: 15%;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color:  #FFD700;

}

.product6 img{
    padding-left: 10%;
}





/*-------------------------------------------------------------------------------------------------------------------------------------- */

                                            /* PAGE-3 */
.page3{
    height: 110vh;
    width: 100%;
    overflow: hidden;
}

 .title2{
    position: relative;
    top: 1%;
    left: 30%;
    text-transform: uppercase;
    font-weight: 700;
    color: #10ff8f;
} 

.box-container{
      height: 100vh;
       display: grid;
       grid-template-columns: repeat(3 ,1fr);
       margin-left: 10%;
       margin-top: 2%;
       padding: 10px;
       gap: 10px;
}

.box1{
    width: 300px;
    height: 300px;
     border-radius: 1rem;
     transition: 1s;

     &:hover{
     transform: scale(1.1);
        }

}

.box1 img{
    width: 300px;
    border-radius: 1rem;
}

.box1 a{
    position: relative;
    left: 15%;
    top: 4%;
    text-decoration: none;
    font-size: 1.rem;
    border: 1px solid;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: rgb(45, 231, 31);
}

.box2{
    width: 300px;
    height: 300px;
     border-radius: 1rem;
     transition: 1s;


     &:hover{
     transform: scale(1.1);
        }

}

.box2 img{
    width: 300px;
    
    border-radius: 1rem;
}
.box2 a{
    position: relative;
    left: 15%;
    top: 4%;
    text-decoration: none;
    font-size: 1.rem;
    border: 1px solid;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: rgb(116, 255, 29);
}

.box3{
    width: 300px;
    height: 300px;
      border-radius: 1rem;
     transition: 1s;


     &:hover{
     transform: scale(1.1);
        }
}

.box3 img{
    width: 300px;
    
    border-radius: 1rem;
}

.box3 a{
    position: relative;
    left: 15%;
    top: 4%;
    text-decoration: none;
    font-size: 1.rem;
    border: 1px solid;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: rgb(29, 255, 78);
}
.box4{
    width: 300px;
    height: 300px;
      border-radius: 1rem;
     transition: 1s;


     &:hover{
     transform: scale(1.1);
        }
}

.box4 img{
    
    border-radius: 1rem;
    width: 300px;
}

.box4 a{
    position: relative;
    left: 15%;
    top: 4%;
    text-decoration: none;
    font-size: 1.rem;
    border: 1px solid;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: rgb(52, 255, 29);
}

.box5{
    width: 300px;
    height: 300px;
      border-radius: 1rem;
     transition: 1s;


     &:hover{
     transform: scale(1.1);
        }
}
.box5 img{
    
    border-radius: 1rem;
    width: 300px;
}

.box5 a{
    position: relative;
    left: 15%;
    top: 4%;
    text-decoration: none;
    font-size: 1.rem;
    border: 1px solid;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: rgb(70, 255, 29);
}
.box6{
    width: 300px;
    height: 300px;
      border-radius: 1rem;
     transition: 1s;


     &:hover{
     transform: scale(1.1);
        }
}

.box6 img{
    width: 300px;
    
    border-radius: 1rem;
    
}

.box6 a{
    position: relative;
    left: 15%;
    top: 4%;
    text-decoration: none;
    font-size: 1.rem;
    border: 1px solid;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: rgb(37, 255, 29);
}

.about{
    width: 100%;
    height: 400px;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.about h2{
    padding: 5px 10px;
    background-color: #ffffff;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    width: 100%;
    height: 50px;
    background-color: bisque;

}
.about a{
    text-decoration: none;
}
/* 
------------------------------------------resposvce-------------------------------------------------------------------------------------------------------- */


@media (max-width: 768px) {

    .header {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 10px;
        gap: 10px;
    }

    .title {
        font-size: 2.5rem;
        top: 0;
    }

    ul {
        display: none;
    }

.menubar{
    display: flex;
  
}

    .ip1 {
        width: 80%;
        left: 0;
        top: 0;
        margin-top: 10px;
    }

    .icon1 {
        right: 0;
        top: 8px;
    }
    .img1 {
        width: 95%;
        height: auto;
    }

    .product {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
        gap: 20px;
        justify-items: center;
        align-items: center;
    }

    .product1, .product2, .product3, .product4, .product5, .product6 {
        width: 90%;
        height: auto;
    
    }

  
    .box-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        padding: 10px;
        justify-items: center;
        gap: 5px;
    }

    .box1, .box2, .box3, .box4, .box5, .box6 {
        width: 90%;
        height: auto;
    }
    
    .box1 img, .box2 img, .box3 img, .box4 img, .box5 img, .box6 img {
               
        width: 100%;
        height: auto;

    }

    .title2 {
        left: 0;
        text-align: center;
        font-size: 1.8rem;
    }


    .about {
        padding: 15px;
        gap: 10px;
    }

    .about p {
        font-size: 0.95rem;
    }

    footer {
        font-size: 0.85rem;
    }
}


@media (max-width: 480px) {


    .title {
        font-size: 2rem;
    }

    .ip1 {
        width: 90%;
    }

   
    .product {
        grid-template-columns: 1fr;
    }

    .box-container {
        grid-template-columns: 1fr;
    }

    .title2 {
        font-size: 1.5rem;
    }
}





